@font-face {
  font-family: Alcubierre;
  src: local("Alcubierre"), url(./fonts/Alcubierre.otf) format("opentype");
}

* {
  font-family: "Alcubierre";
}

.app {
  background: #4c566a;
  height: 100vh;
  width: 100vw;
}

header {
  position: relative;
  top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 24px;
  color: #eceff4;
}

.calculator {
  background-color: #eceff4;
  background: linear-gradient(#b1b9bd 35%, #eceff4 0);
  display: block;
  position: relative;
  top: 8em;
  margin: 0 auto;
  border-radius: 3em 3em 3em 3em;
  height: 55vh;
  width: 60vw;
  padding: 0.5em;
}

.calculator .screen {
  /*background: pink;*/
  width: 100%;
  height: 32%;
  position: relative;
  margin: auto;
  text-align: right;
  border-radius: 3em 3em 0em 0em;
}

.screen .prev,
.screen .display {
  color: #eceff4;
  display: block;
  position: absolute;
  right: 0;
}

.screen .prev {
  bottom: 2.5em;
}

.screen .display {
  font-size: 2em;
  bottom: 0em;
}

.calculator .pad {
  /*background: skyblue;*/
  width: auto;
  height: 64%;
  margin: 1em auto;
  border-radius: 0em 0em 3em 3em;

  /*
  text-align: center;
  display: grid;
  /*grid-template-rows: repeat(auto-fit, min(max(100px, 1fr 1fr 1fr 1fr));
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 3em;
  */
  text-align: left;
}

button {
  background: red;
  font-size: 150%;
  width: 25%;
  padding: 4%;
}
button.equal {
  width: 50%;
}
@media (min-width: 2560px) {
  /* TODO: Adjust for 1440p monitor */
  .calculator {
    height: 70vh;
    width: 20vw;
  }
}
@media (min-width: 1920px) {
  /* TODO: Adjust for 1080p monitor */
  .calculator {
    height: 60vh;
    width: 20vw;
  }
}

/*
.pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 5px;

  width: 75%;
  border-color: blue;
  text-align: center;
  background-color: red;
}
*/
/*
.screen {
  background: #b1b9bd;
  position: relative;
}
*/
